<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{  asset('bundles/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/css/custom.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/css/customPrijava.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'menu.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{{ asset('bundles/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
