{% extends 'AppBundle:Admin:admin_base.html.twig' %}

{% block title %}Преглед пријава{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ takmicenje.kategorija.naziv }}: Тимови</h1>
        <h3>Број слободних места:
            {% if takmicenje.brojSlobodnihMesta >0%}
                <span style="color:green; font-weight: bold;">{{ takmicenje.brojSlobodnihMesta }} </span>
            {% else %}
                <span style="color:red; font-weight: bold;">{{ takmicenje.brojSlobodnihMesta }} </span>
            {% endif %}
        </h3>
        <table class="table table-bordered">
            <thead>
            <td>Назив</td>
            <td>Чланови</td>
            <td>Статус</td>
            <td>Акције</td>
            </thead>
            <tbody>
            {% for prijava in prijave %}
                <tr>
                    <td>{{ prijava.tim.naziv }}</td>
                    <td>
                        <table class="table">
                            <tbody>
                            {% for takmicar in prijava.tim.ucesnik %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ takmicar.ime }} {{ takmicar.prezime }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        {% if prijava.status %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-info btn-xs" role="button"
                           href="{{ path('prijava_detaljno', {'id': takmicenje.id, 'pid': prijava.id}) }}">
                            Детаљније</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if takmicenje.brojSlobodnihMesta==0 and obavesteni==false and predsednik %}
             <a class="btn btn-primary btn-sm" role="button" id="obavesti"
                >
                Обавести такмичаре </a>
        {% endif %}

        <a class="btn btn-primary btn-sm" role="button"
           href="{{ path('dogadjaj_detaljno', {'id': takmicenje.dogadjaj.id}) }}">
            Врати се назад</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#obavesti').click(function () {
                var data = {};
                data['id'] = {{ takmicenje.id }};
                $.ajax({
                    url: "{{ path('prijava_obavesti', {'id': takmicenje.id}) }}",
                    type: 'GET',
                    data: data,
                    success: function (data) {

                        window.alert(data);

                    }
                });
            });
        })
    </script>
{% endblock %}
