{% extends 'AppBundle:Admin:admin_base.html.twig' %}

{% block title %}Пријава: {{ prijava.tim.naziv }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Пријава: {{ prijava.tim.naziv }}</h1>
        {% if prijava.takmicenje.kategorija.studentska == true %}
            <table class="table table-bordered">
                <thead>
                <td>Редни број</td>
                <td>Име и презиме</td>
                <td>Смер</td>
                <td>Индекс</td>
                <td>Претходна искуства</td>
                <td> Акције </td>
                </thead>
                <tbody>
                {% for ucesnik in prijava.tim.ucesnik %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ ucesnik.ime }} {{ ucesnik.prezime }}</td>
                        <td>{{ ucesnik.smer }}</td>
                        <td>{{ ucesnik.indeks }}</td>
                        <td>{{ ucesnik.prethodnaIskustva }}</td>
                        <td>
                            <a class="btn btn-info btn-xs" role="button"
                               href="{{ path('prijava_ucesnik_mejl_prikazi', {'id': takmicenje_id, 'uid': ucesnik.id}) }}">
                                Пошаљи мејл</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <table class="table table-bordered">
                <thead>
                <td>Редни број</td>
                <td>Име и презиме</td>
                <td>Град</td>
                <td>Школа</td>
                <td>Одељење</td>
                <td>Претходна искуства</td>
                <td> Акције </td>
                </thead>
                <tbody>
                {% for ucesnik in prijava.tim.ucesnik %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ ucesnik.ime }} {{ ucesnik.prezime }}</td>
                        <td>{{ ucesnik.grad }}</td>
                        <td>{{ ucesnik.skola }}</td>
                        <td>{{ ucesnik.odeljenje }}</td>
                        <td>{{ ucesnik.prethodnaIskustva }}</td>
                        <td>
                            <a class="btn btn-info btn-xs" role="button"
                               href="{{ path('prijava_ucesnik_mejl_prikazi', {'id': takmicenje_id, 'uid': ucesnik.id}) }}">
                                Пошаљи мејл</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <a class="btn btn-primary btn-sm" role="button"
           href="{{ path('pregled_prijava', {'id': prijava.takmicenje.id}) }}">
            Vrati se na pregled prijava</a>
        <br>
        <br>    
        <h3>До сада гласало: {{ za+protiv }}</h3>
        {% if za!=0 or protiv!=0 %}
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ (za/(za+protiv))*100 }}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{ (za/(za+protiv))*100 }}%">
                {{ za }}
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{ (protiv/(za+protiv))*100 }}%">
                {{ protiv }}
            </div>
        </div>
        {% endif %}
        <div>
            <h3>Коментари:</h3>
            {% for komentar in komentari %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ komentar.komentator.username }} :</strong>
                    </div>
                    <div class="panel-body">
                        <div class="comment-post" style="overflow: auto;">
                            <p style="font-size: 12px; word-wrap: break-word;">{{ komentar.komentar }} </p>
                        </div>
                    </div>
                </div>


            {% endfor %}
        </div>
        <div id="status">
            {% if prijava.status %}
                <span style="color:green; font-weight: bold;">Пријава има статус прихваћене!<br><br></span>
            {% else %}
                <span style="color:red; font-weight: bold;">Пријава има статус одбијене!<br><br></span>
            {% endif %}
        </div>
        {% if predsednik %}
            <a class="btn btn-danger btn-sm" role="button" id="prihvati">Промени статус пријаве</a>
        {% elseif komisija %}
            {% if postoji_komentar %}
                <a class="btn btn-primary btn-sm" role="button" href="{{ path('komentar_edit', {'id': prijava.takmicenje.id, 'pid': prijava.id, 'kid': komentar_id}) }}">Измени коментар</a>
                <form style="display:inline-block; margin-top: 5px;"
                      action='{{ path('komentar_delete', {'id': prijava.takmicenje.id, 'pid': prijava.id,'kid': komentar_id}) }}' method="post">
                    <input type="submit" class="btn btn-danger btn-sm" value="Обриши коментар">
                </form>
            {% else %}
                <a class="btn btn-success btn-sm" role="button" href="{{ path('komentar_new', {'id': prijava.takmicenje.id, 'pid': prijava.id}) }}">Додај нови коментар</a>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#prihvati').click(function () {
                var data = {};

                data['pid'] = {{ prijava.id }};
                data['id'] = {{ prijava.takmicenje.id }};
                $.ajax({
                    url: "{{ path('odobri_prijavu', {'id': prijava.takmicenje.id, 'pid': prijava.id}) }}",
                    type: 'POST',
                    data: data,
                    success: function (html) {
                        window.alert('Захтев за промену статуса пријаве обрађен!');
                        $('#status').replaceWith(
                            $(html).find('#status')
                        );
                    }
                });
            });
        })
    </script>
{% endblock %}