{% extends 'AppBundle:Admin:admin_base.html.twig' %}

{% block title %}Пријава: {{ prijava.tim.naziv }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Пријава: {{ prijava.tim.naziv }}</h1>
        {% if prijava.takmicenje.kategorija.studentska == true %}
            <table class="table table-bordered">
                <thead>
                <td>Редни број</td>
                <td>Име и презиме</td>
                <td>Смер</td>
                <td>Индекс</td>
                </thead>
                <tbody>
                {% for ucesnik in prijava.tim.ucesnik %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ ucesnik.ime }} {{ ucesnik.prezime }}</td>
                        <td>{{ ucesnik.smer }}</td>
                        <td>{{ ucesnik.indeks }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <table class="table table-bordered">
                <thead>
                <td>Редни број</td>
                <td>Име и презиме</td>
                <td>Град</td>
                <td>Школа</td>
                <td>Одељење</td>
                </thead>
                <tbody>
                {% for ucesnik in prijava.tim.ucesnik %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ ucesnik.ime }} {{ ucesnik.prezime }}</td>
                        <td>{{ ucesnik.grad }}</td>
                        <td>{{ ucesnik.skola }}</td>
                        <td>{{ ucesnik.odeljenje }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {#dodati ispis postojecih komentara (poslati su iz kontrolera)#}
        <div id="status">
            {% if prijava.status %}
                Пријава има статус прихваћене!<br>
            {% else %}
                Пријава има статус одбијене!<br>
            {% endif %}
        </div>
        {% if predsednik %}
            <a class="btn btn-danger btn-sm" role="button" id="prihvati">Промени статус пријаве</a>
        {% elseif komisija %}
            <a class="btn btn-success btn-sm" role="button" href="{{ path('komentar_new', {'id': prijava.takmicenje.id, 'pid': prijava.id}) }}">Додај нови коментар</a>
        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('#prihvati').click(function () {
                var data = {};

                data['pid'] = {{ prijava.id }};
                data['id'] = {{ prijava.takmicenje.id }};
                $.ajax({
                    url: "{{ path('odobri_prijavu', {'id': prijava.takmicenje.id, 'pid': prijava.id}) }}",
                    type: 'POST',
                    data: data,
                    success: function (html) {
                        window.alert('Пријава успешно измењена!');
                        $('#status').replaceWith(
                            $(html).find('#status')
                        );
                    }
                });
            });
        })
    </script>
{% endblock %}