{% extends 'base.html.twig' %}

{% block title %}Регистрација рада{% endblock %}

{% block body %}
    <div class="container" style="width: 500px;">
        {% if nema %}
            <h1>Тренутно не постоји смотра за коју можете да се пријавите.</h1>
        {% else %}
            {% form_theme form 'theme/bootstrap_3_layout.html.twig' %}
            {{ form_start(form, {'multipart': true}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            var $dodaj = $('#appbundle_rad_dodaj');
            var $ukloni = $('#appbundle_rad_ukloni');

            $dodaj.click(function () {
                var $form = $(this).closest('form');
                var data = {};
                var $broj = parseInt($('#appbundle_rad_broj').val());
                $broj = $broj + 1;
                $('#appbundle_rad_broj').val($broj);
                data['broj_clanova'] = $broj;
                $.ajax({
                    url:"{{ path('rad_insert') }}",
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        console.log(html);
                        $('#appbundle_rad_autor').replaceWith(
                            $(html).find('#appbundle_rad_autor')
                        );
                        $('.captcha_image').replaceWith(
                            $(html).find('.captcha_image')
                        );
                    }
                });
            });

            $ukloni.click(function () {
                var $form = $(this).closest('form');
                var data = {};
                var $broj = parseInt($('#appbundle_rad_broj').val());
                if ($broj > 0)
                    $broj = $broj - 1;

                $('#appbundle_rad_broj').val($broj);
                data['broj_clanova'] = $broj;
                $.ajax({
                    url:"{{ path('rad_insert') }}",
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        console.log(html);
                        $('#appbundle_rad_autor').replaceWith(
                            $(html).find('#appbundle_rad_autor')
                        );
//                        $('.captcha_image').replaceWith(
//                            $(html).find('.captcha_image')
//                        );
                    }
                });
            });
        })
    </script>
{% endblock %}